.button-wave {
    width: 18em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
.button-wave-home{
    width: 9em;
}
.button-wave-black{
    box-shadow: 2px 6px 12px #c5c5c5,-2px -2px 4px #ffffff;
}
   
.button-wave::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #f5e130 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
.button-wave:hover::before {
    width: 18em;
}
.button-wave-home:hover::before {
    width: 9em;
}
.button-anim {
    position: relative;
    display: flex;
    width:300px;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    justify-content: center;
    transition: all 0.3s;
    align-items: center;
    border-radius: 5px;
    background: #FFD401;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    border-radius: 50px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}  
.button-anim:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #11100d;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}
   
.button-anim:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}
   
.button-anim span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    text-transform: capitalize;
    padding: 12px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}
   
.button-anim:hover span {
    color: #fff;
    animation: scaleUp 0.3s ease-in-out;
}
   
@keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
}
.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-left: 7%;
    padding-bottom: 3%;
   }
   
   .learn-more {
    width: 12rem;
    height: auto;
   }
   
   .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #4b4c5c;
    border-radius: 1.625rem;
   }
   
   .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #4b4c5c;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   .learn-more:hover .circle {
    width: 100%;
   }
   
   .learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .learn-more:hover .button-text {
    color: #fff;
   }
@media (min-width: 767px) and (max-width: 992px) {
    .button-anim.hovered span {
        color: #fff;
        animation: scaleUp 0.3s ease-in-out;
    }
    .button-anim.hovered::after {
        right: auto;
        left: 0;
        width: 100%;
    }
    .learn-more .button-text {
        font-weight: 600;
    }
}
@media (min-width: 750px) and (max-width: 766px) {
    .mob {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}

    .conMob{
        padding: 10px 60px; 
		width:200px;
    }
}
@media (max-width: 749px) {
    .mob {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}

    .conMob{
        padding: 10px 60px; 
		width:200px;
    }
}
